<p>@{Html.RenderAction("~/CodeTemplates/MobilesTablets/NewMobilePartialView", new { link = "samsung-mobile-price-in-pakistan/samsung-galaxy-j7.m903.htm" });}</p>



<hr />

<br /><br /><br /><br /><br />


@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/bundles/tagStyles")
}


@section Scripts{
    @Scripts.Render("~/plugins/timeago")
    @Scripts.Render("~/plugins/ionRange")
    <script src="~/Scripts/app/CreateAlert.js"></script>
    <script src="~/Scripts/app/_Truncate-knockout-binding.js"></script>
    <script src="~/Scripts/app/GetLoginUserId.js"></script>

    <script>
        function viewModel() {

            var self = this;
            self.showNewMobilePrices = ko.observableArray();
           // loadnewMobilePrice(self);
            SearchingLocation();
            ChatViewModel();
            AccountViewModel();
        }
        $(function () {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                preventDuplicates: true,
                positionClass: 'toast-top-right',
                onclick: null
            };
            ko.applyBindings(new viewModel);
            var length = $(window).width();
            $("#browser-width").text(length);
            if (length < 786) { //770
                $(".collapse-link").click();
                $(".product-desc").css({ "padding": "0px" });
                $(".product-price").css({ "color": "green", "background": "none" });
            }
        });
    </script>
}
